#customerTable {
 border-collapse: collapse;
 width: 100%;
}

#customerTable th, #customerTable td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: left;
}

#customerTable th {
 background-color: #f2f2f2;
}

#customerTable tr:nth-child(even) {
 background-color: #f9f9f9;
}

